:root {
  --ibzan-brown-1: #90654a;
  --ibzan-brown-2: #886c58;
  --ibzan-dark-blue: #2f1e82;
  --ibzan-dark-brown: #302222;
  --ibzan-pastel-blue: #5c5baa;
  --ibzan-tan: #c5a68d;
  --ref-edge: #a9989d;
}

body {
  font-family: "Heliotrope 4",sans-serif;
  font-size: 18px;
  padding: 0 5% 20%;
}

@media screen {
  .print-only {
    display: none;
  }

  .centre-text {
    text-align: center;
  }

  div.centre-margin {
    position: relative;
  }

  div.centre-margin > * {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }

  body {
    background-color: var(--ibzan-dark-brown);
    color: #ffffff;
  }

  h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
    text-decoration-color: var(--ibzan-pastel-blue);
  }

  .colour {
    font-family: "Triplicate A",monospace;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.1em 1em;
  }

  /* Tab stuff */
  .reftabs > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }

  /* hide nonactive tabs */
  .reftabs .reftab-panel {
    display: none;
  }

  /* bit hacky */
  .reftabs > input:first-child:checked ~ .reftab-panels > .reftab-panel:first-child,
  .reftabs > input:nth-child(3):checked ~ .reftab-panels > .reftab-panel:nth-child(2) {
    display: block;
  }

  .reftabs > label {
    position: relative;
    display: inline-block;
    padding: 1em 1em 1.5em;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: bold;
  }

  .reftabs > label::after {
    content: "";
    position: absolute;
    left: 1em;
    bottom: 1em;
    width: 1.4em;
    height: 0.25em;
  }

  .reftabs > label::after {
    background: var(--ibzan-tan);
  }

  .reftabs > label > span, a {
    background-color: var(--ibzan-tan);
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.2em;
    text-decoration: unset;
    color: black;
    font-style: normal;
    font-family: heliotrope_4_caps, "Heliotrope 4", sans-serif;
    font-variant-caps: small-caps;
  }

  .reftabs > label:hover > span,
  a:hover {
    background-color: var(--ibzan-pastel-blue);
  }

  .reftabs > label:hover::after,
  .reftabs > input:checked + label::after {
    background: var(--ibzan-pastel-blue);
  }

  .reftab-panel {
    border-top: 1px solid var(--ref-edge);
  }
}

@media print {
  .print-hide {
    display: none;
  }

  .colour-rect {
    width: 1em;
    height: 1em;
  }

  a {
    all: unset;
  }
}

.ref {
  max-width: 100%;
  max-height: 15%;
}
